.card{
    border: solid black 1px;
    background-color: $white;
    width: 20rem;
    height: 26rem;
    display: flex;
    justify-content: center;

    .card-container{
        padding: 2px 16px 25px;
        
        display: flex;
        flex-direction: column;
        font-family: $raleway;
        justify-content: space-around;

            .titulos{
                padding-top:15px;
                padding-bottom: 0.9375rem;
                border-bottom: solid 1px $nickel;
            &__title{
                font-size: $x-large;
                font-weight: $regular;
                    }
            &__subtitle{
                font-size: $xxx-large;
                }
                    }
        &__listado{
            list-style-type: none;
            padding-bottom: 50%;
            border-bottom: solid 1px ;
            font-size: $x-small;
            margin-top: 10px;
            & li{
                margin-bottom: 15px;
            }
        }            
        .button{
            width: 100%;
            
        }
    }
    }
