.card{
    
    background-color: $white;
    width: 20rem;
    height: 26rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 $gray;
    transition: 0.3s;

    .card-container{
        padding: 2px 16px 25px;
        
        display: flex;
        flex-direction: column;
        font-family: $raleway;
        justify-content: space-around;

            .titulos{
                padding-top:15px;
                padding-bottom: 0.9375rem;
                border-bottom: solid 1px $nickel;
            &__title{
                font-size: $x-large;
                font-weight: $regular;
                    }
            &__subtitle{
                font-size: $xxx-large;
                }
                    }
        &__listado{
            list-style-type: none;
            padding-bottom: 50%;
            border-bottom: solid 1px ;
            font-size: $x-small;
            margin-top: 10px;
            & li{
                margin-bottom: 15px;
            }
        }            
        .button{
            width: 100%;
            
        }
    }
    }

    .card:hover{
        box-shadow: 0 8px 16px 0 $platinum;
    }


@include respond-to($bp-md){
    .card{
        width: 50%;
        height: 100% auto;
        .card-container{
            
            padding: 30px 10px 45px 20px;

            &__listado{
                li{
                    margin-bottom: 0;
                }
            }
        }
    }
   
}