//----------------------Grillas-------------------------------------------

.container {
  max-width: 100%;
  display: grid;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.hero {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
 
  padding-top: 15px;
  margin-top: 70px;
}

.caracteristicas {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  
}
.precios {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
 
}

.footer {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-color: forestgreen;
}

//-------------------------------------seccion hero--------------------------------------------------
.hero{
    height: 100%;
   width: 100%;
    &__contenedor-hero{

    display: flex;
    justify-content: left;
    margin-left: 4%;
   
    height: 43.75rem;
    background-image: url('../img/bg-hero.svg');
    background-repeat: no-repeat;
    background-position: right;
    
    
 
    & .info-principal{
        width: 18.75rem;
        margin-top: 15px;
        margin-left: 5%;
        .titulo{
            font-size: $xx-large;
            margin-bottom: 0.625rem;
        }

        .parrafo{
            font-size: $x-small;
            line-height: 1.5625rem;
            
        }
    }
    }
}
@include respond-to($bp-md){
  .hero{
    &__contenedor-hero{
      background-size: 150%;
    }
  }
}
@include respond-to($bp-sm){
 .hero{

   &__contenedor-hero{
    display: flex;
    justify-content: center;
    background-size: 100%;
    
  
   }
 }
}

//-------------------------------------Seccion Caracteristicas---------------------------------------------
.caracteristicas{
 margin-bottom: 2.5rem;

  &__titulo{
    text-align: center;
    font-size: $x-large;
    margin-bottom:40px;
  }

  &__columnas{
    display: flex;
    justify-content: space-around;
    
    .grafico{
     width: 18.75rem;
     
    }
    .info-caract{
      
      width: 18.75rem;
      margin-top: 15px;
     
    .titulo{
      font-size: $large;
      margin-bottom: 0.625rem;
    }

    .parrafo{
      font-size: $x-small;
      line-height: 1.5625rem;
    }
  }
  }
}

@include respond-to($bp-md){
  .caracteristicas{
    margin-bottom: 1.875rem;
    &__columnas{
      display: flex;
      flex-wrap: wrap;
      .grafico{
        margin-bottom: 30px;
        align-content: center;
      
      }
      .info-caract{
        align-self: center;
        margin-top: 20px;
      }
    }
  }
}
//-----------------------------------seccion precios--------------------------------------------------
.precios{
  background-image: url('../img/bg-price.svg');
  background-repeat: no-repeat;
  background-size: cover;
  
  &__titulo{
    text-align: center;
    color:$white;
  }
  .contenedor-precios{
    padding-top: 15%;
    padding-bottom: 5%;
    
 
.precio {
  display: flex;
  justify-content: center;
  padding-top: 5%;

  .card-precio {
    margin-right: 40px;
    margin-left: 40px;
  }
}
}
}

@include respond-to($bp-sm) {

  .precios{
  background-image: url("../img/bg-price.png");
   background-size: 150% 100%;

  .contenedor-precios{
    padding-top:13.75rem;
  
  .precio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-precio {
    margin-bottom: 30px;
  }
}
  }
}
